{% extends "main.html" %}
{% block title %} Login {% endblock %}
{% block content %}

<form method="POST">
    {% csrf_token %}

    {% if successfull %}
        <h5>{{ successfull }}</h5>        
    {% endif %}
    
    {% if incorrect %}
        <h5>{{ incorrect }}</h5>        
    {% endif %}



    <input type="text" placeholder="username" name="username">
    {% if form.errors.username %}
        {{form.errors.username}}
    {% endif %}
    <input type="password" placeholder="password" name="password">
    {% if form.errors.password %}
        {{form.errors.password}}
    {% endif %}
    <button type="submit">Acept</button>
</form>
{% endblock %}